../../
prod/8x8x2/dry/log/
prod/8x8x2/wet_025/log/
prod/8x8x2/wet_050/log/
prod/8x8x2/wet_100/log/
prod/8x8x2/dry/feedback/
prod/8x8x2/dry/out/
prod/8x8x2/dry/tmp/
prod/8x8x2/dry/data/run_12/analyzed/
dft/potential_map/data
dft/potential_map/no_kpts/data
